/*
* Cookie Discourse CSS
* Made for the revive.network community
* date: 24-06-2017
*/

/*
*
* Main
*
*/

body{
    background: url('https://reviveheroes.com/assets/bg-main.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#main-outlet{
    //background: url('https://www.toptal.com/designers/subtlepatterns/patterns/crossword.png');background-size: cover;
    background:rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/*
*
* Header
*
*/

header{
    background: #080d10 !important;
}

// These are the headers when reading a topic.
.topic-link span{
    color:#fff;
}

.clear-badge span{
    color:#fff;
}

/*
*
* Button styling
*
*/

.nav-pills>li.active>a, .nav-pills>li>a.active{
    color: white;
    background-color: #282828 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.nav-pills>li.hover>a, .nav-pills>li>a.hover{
    color: white;
    background-color: #282828 !important;
}

.login-button{
    color: white;
    background-color: #282828 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/*
*
* Footer
*
*/

.footer{
    color: #999;
    background: #282828;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#insetbox{
    margin-left: auto;
    margin-right: auto;
    background: rgba(47, 50, 48, 1);
    border: 1px solid #282828;
    padding: 4px 4px 4px 4px;
    margin: 5px;
}
